#header {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 20px 0 10px;
}

#header h1{
	text-align: center;
}

#footer{
	border-top: 1px solid #CCCCCC;
	margin-top: 10px;
    padding: 20px 0 10px;
}

#content p{
	font-size: 14px;
	padding: 10px;
}

.box{
	background-color:#EEEEEE;;
}