<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
    <title>Citation Networks in Classics == {{ page.title }}</title>
    <!-- Import the Blueprint css framework -->
    <link rel="stylesheet" href="blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="blueprint/print.css" type="text/css" media="print">
    <!-- blueprint-plugins/tabs/ -->
    <link rel="stylesheet" href="blueprint-plugins/tabs/screen.css" type="text/css" media="screen, projection">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
  </head>
  <body>
	<div class="container">
		<div id="header" class="span-24">

		  <h4>Description. <a href="http://www.divitodesign.com/2009/02/blueprint-css-framework-learn-the-basics/">Return to the Article</a></h4>
	  </div>
	  <div id="sidebar-1" class="span-4">
	  	<div class="one"><h2>Sidebar 1</h2>
	    <ul>
	    <li>...</li>
	  	</ul></div>
	  </div>
	  <div id="content"class="span-20"><h1>Content</h1>
		{{content}}
	  </div>
	  <div id="footer"class="span-24"><h4>Description. <a href="http://www.divitodesign.com/2009/02/blueprint-css-framework-learn-the-basics/">Return to the Article</a></h4></div>
	</div>
      </div>
    </body>
</html>
